body, input, select, button, table {
	font-size: 16pt;
	font-family: Arial, Helvetica, sans-serif;
}

body {
	background-color: #f5f5f5;
}

a {
	color: black;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	background-color: #d3d3d3;
}

li {
	display: inline;
}

.menu-link {
	text-decoration: none;
	color: black;
	background-color: #ddd;
	border: 2px solid #666;
	padding: 8px;
	font-size: 12pt;
}

.menu-link:hover {
	background-color: #333;
	color: white;
}

.active {
	background-color: #fff;
	font-size: 16pt;
}

.smol-text {
	font-size: 10pt;
}

.color-button {
	width: 30px;
	height: 30px;
	display: inline-block;
	vertical-align: middle;
	border: 1px solid black;
}

.color-button-active {
	width: 35px;
	height: 35px;
	border: 3px solid black;
}

.green-color { background: #008000; }
.yellow-color { background: #FFFF00; }
.orange-color { background: #FF8000; }
.red-color { background: #FF0000; }
.no-color { background: #F5F5F5; }

#pen-style {
	direction: rtl;
}

#pen-style-hidden {
	display: none;
}

#chart-wrapper {
	width: 900px;
	height: 900px;
}

#chart-img {
	position: absolute;
	max-height: 900px;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}

#heatmap-canvas, #heatmap-temp-canvas {
	position: absolute;
	cursor: crosshair;
}

#heatmap-canvas {
	opacity: 0.9;
}

.inner-chart {
	position: absolute;
	margin-left: 100px;
	margin-top: 100px;
	width: 700px;
	height: 700px;
}

.draggable {
	position: absolute;
	cursor: move;
}

.rounded {
	object-fit: cover;
	border-radius: 50%;
}

.center {
	text-align: center;
	vertical-align: middle;
}
